# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

In [4]:
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
pd.Series(data=dados)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
pd.Series(data=dados, index=indice)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [104]:
df = pd.DataFrame(np.random.normal(100, 10, (20,3)))
df

             0           1           2
0    89.933525  112.172165   96.442396
1    89.051166  101.609188  106.573673
2    99.975739  109.473374  110.267013
3    92.111020   87.774280   77.491485
4   100.353117  104.111754  103.954817
5    89.415230  107.761242   99.894434
6    85.476384   99.445094   97.101187
7    91.338932   95.910571   92.137947
8   102.678775  114.158836   95.831765
9   108.225455  113.737020  100.087496
10   94.688112  100.136506  103.736317
11   91.397348  100.467398   89.553442
12  101.356332  101.858341  100.208708
13  101.981486  102.030454   93.574260
14   98.535332  107.768236   96.152637
15   93.975910  100.826636  112.215550
16   95.487581  100.574483   96.484564
17   96.785686   93.790230  104.431011
18  100.723873   91.850769   85.332123
19   95.404432  107.020535  103.484698

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [109]:
indice = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
colunas = ['x1','x2','x3']
df.columns=colunas
df.index=indice
df

            x1          x2          x3
1    89.933525  112.172165   96.442396
2    89.051166  101.609188  106.573673
3    99.975739  109.473374  110.267013
4    92.111020   87.774280   77.491485
5   100.353117  104.111754  103.954817
6    89.415230  107.761242   99.894434
7    85.476384   99.445094   97.101187
8    91.338932   95.910571   92.137947
9   102.678775  114.158836   95.831765
10  108.225455  113.737020  100.087496
11   94.688112  100.136506  103.736317
12   91.397348  100.467398   89.553442
13  101.356332  101.858341  100.208708
14  101.981486  102.030454   93.574260
15   98.535332  107.768236   96.152637
16   93.975910  100.826636  112.215550
17   95.487581  100.574483   96.484564
18   96.785686   93.790230  104.431011
19  100.723873   91.850769   85.332123
20   95.404432  107.020535  103.484698

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [113]:
df['media'] = df['x1']*df['x2']*df['x3']
df

            x1          x2          x3         media
1    89.933525  112.172165   96.442396  9.729146e+05
2    89.051166  101.609188  106.573673  9.643230e+05
3    99.975739  109.473374  110.267013  1.206837e+06
4    92.111020   87.774280   77.491485  6.265170e+05
5   100.353117  104.111754  103.954817  1.086114e+06
6    89.415230  107.761242   99.894434  9.625324e+05
7    85.476384   99.445094   97.101187  8.253802e+05
8    91.338932   95.910571   92.137947  8.071624e+05
9   102.678775  114.158836   95.831765  1.123310e+06
10  108.225455  113.737020  100.087496  1.232001e+06
11   94.688112  100.136506  103.736317  9.836004e+05
12   91.397348  100.467398   89.553442  8.223203e+05
13  101.356332  101.858341  100.208708  1.034553e+06
14  101.981486  102.030454   93.574260  9.736605e+05
15   98.535332  107.768236   96.152637  1.021043e+06
16   93.975910  100.826636  112.215550  1.063273e+06
17   95.487581  100.574483   96.484564  9.266005e+05
18   96.785686   93.790230  104.431011  9.479779e+05
19  100.723873   91.850769   85.332123  7.894557e+05
20   95.404432  107.020535  103.484698  1.056603e+06

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [118]:
import math
df['log_med'] = np.log2(df['media'])
df

            x1          x2          x3         media    log_med
1    89.933525  112.172165   96.442396  9.729146e+05  19.891954
2    89.051166  101.609188  106.573673  9.643230e+05  19.879157
3    99.975739  109.473374  110.267013  1.206837e+06  20.202800
4    92.111020   87.774280   77.491485  6.265170e+05  19.256994
5   100.353117  104.111754  103.954817  1.086114e+06  20.050744
6    89.415230  107.761242   99.894434  9.625324e+05  19.876476
7    85.476384   99.445094   97.101187  8.253802e+05  19.654699
8    91.338932   95.910571   92.137947  8.071624e+05  19.622499
9   102.678775  114.158836   95.831765  1.123310e+06  20.099325
10  108.225455  113.737020  100.087496  1.232001e+06  20.232572
11   94.688112  100.136506  103.736317  9.836004e+05  19.907713
12   91.397348  100.467398   89.553442  8.223203e+05  19.649341
13  101.356332  101.858341  100.208708  1.034553e+06  19.980577
14  101.981486  102.030454   93.574260  9.736605e+05  19.893059
15   98.535332  107.768236   96.152637  1.021043e+06  19.961612
16   93.975910  100.826636  112.215550  1.063273e+06  20.020081
17   95.487581  100.574483   96.484564  9.266005e+05  19.821588
18   96.785686   93.790230  104.431011  9.479779e+05  19.854494
19  100.723873   91.850769   85.332123  7.894557e+05  19.590499
20   95.404432  107.020535  103.484698  1.056603e+06  20.011002